/*** FOOTER ***/
.footer {
  background-color: var(--color-mellemblaa);
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  gap: 3rem;
  margin: 0 auto;
}

.footer_box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.footer_box img {
  width: 50px;
  height: auto;
}

.footer_box p {
  margin: 0;
  line-height: 1.4;
  color: white;
}

#footer_link {
  text-decoration: underline;
  text-decoration-color: white;
}

.footer_box2 {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#facebook {
  width: 40px;
  height: auto;
  cursor: pointer;
}

#instagram {
  width: 50px;
  height: auto;
  cursor: pointer;
}

form {
  display: block;
  justify-items: center;
  padding: 10px;
  background-color: var(--color-mellemblaa);
}

form p {
  color: white;
}

form button {
  margin: 20px;
}

/*** FOOTER MOBIL ***/
@media (max-width: 800px) {
  .footer {
    flex-direction: column;
    gap: 5rem;
    text-align: center;
  }

  .footer_box {
    justify-content: center;
  }

  .footer_box2 {
    justify-content: center;
  }
}
