/**********Burger*********/
.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  display: none;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #d7d0bf;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

/*******************Header*************/
header .menu li a:hover {
  color: #f7f7c6;
}

header {
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: #7a90a8;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

header .menu {
  list-style: none;
  margin: 0;
  display: flex;
  gap: 25px;
  align-items: center;
}

header .menu li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-weight: bold;
}
.logo {
  max-width: 280px;
  height: auto;
}

@media (max-width: 840px) {
  header .menu {
    display: none;
  }

  .burger {
    display: block;
    background-color: #bdcfaa;
    border: 0;
    z-index: 101;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  nav.active .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    background-color: #7a90a8;
    padding: 40px 0;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  header .menu li a {
    font-size: 1.2rem;
    display: block;
  }
  .logo {
    max-width: 200px;
    height: auto;
  }
}
/************************Burger********/
