/********** svømmehal overskrift *****/
.svommehal_info {
  background-color: var(--color-lyseblaa);
  padding: 50px;
}

.svommehal_info p {
  padding: 30px 0px;
}

.svommehal_info h1 {
  text-align: center;
}

/******** tre cta med ikoner ********/
.cta_svommehal {
  justify-self: center;
}

.svommehal_grid_1_1_1 {
  padding: 50px;
  align-items: center !important;
}
.svommehal_grid_1_1_1 p {
  text-align: center;
  padding: 10px;
}

.svommehal_ctaknapper {
  padding: 20px;
}
.svommehal_grid_1_1_1 img {
  width: 120px;
  display: block;
  margin: 0 auto;
}

/********* svømmefaciliteter *******/
.svommefaciliteter {
  background-color: var(--color-lyseblaa);
  padding: 50px;
}

.svommefaciliteter h2 {
  text-align: center;
}

.svommefaciliteter h3 {
  padding-top: 30px;
}

li {
  font-family: "Trirong", serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  padding-left: 30px;
}

/********* info **********/
.svommehal_regler {
  background-color: var(--color-mellemblaa);
  padding: 50px;
}

.svommehal_regler h2 {
  text-align: center;
  padding-bottom: 10px;
}
.obs_text {
  padding-top: 40px;
}

.svommehal_regler p {
  color: white;
}
.aflaasteskabe_text {
  color: white;
}

/******* lej svømmehal ********/
.lej_svommehal {
  background-color: var(--color-lyseblaa);
  padding: 50px;
}

.lej_svommehal h2 {
  text-align: center;
}

.lej_svommehal p {
  padding: 20px 0px;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  > * {
    grid-column: 2;
  }
}

/******** desktop ***********/
@media (min-width: 800px) {
  /********** svømmehal overskrift *****/
  .svommehal {
    display: grid;
    grid-template-columns: 1fr 0.5fr 2fr;
    grid-template-rows: 0.1fr 0.2fr 0.8fr;
    padding: 20px 40px;
  }

  .svommehal_img {
    display: grid;
    grid-column: 2/4;
    grid-row: 2/4;
  }

  .svommehal_text {
    display: grid;
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: white;
    padding: 0px 40px;
    place-self: start;
  }
  #svommehal_h1 {
    display: grid;
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: var(--color-lyseblaa);
    padding: 20px 150px;
    place-self: center;
  }
  .svommehal_info {
    display: contents; /* gør at børn opfører sig som direkte børn af .svommehal */
  }

  /******** tre cta med ikoner ********/
  .svommehal_grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 90px;
    padding-bottom: 90px;
  }

  #svommehal_streg1 {
    border-right: 0.7px solid black;
  }

  #svommehal_streg2 {
    border-right: 0.7px solid black;
  }

  /********* svømmefaciliteter *******/
  .svommefaciliteter_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    padding: 50px 40px;
    gap: 40px;
  }

  .svommehal_faciliteter_img {
    display: grid;
    grid-column: 3/5;
    grid-row: 2/3;
  }

  .faciliteter_h2 {
    display: grid;
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .svommefaciliteter h2 {
    display: grid;
    grid-column: 2/4;
    grid-row: 1/2;
    background-color: var(--color-lyseblaa);
    padding: 10px 20px;
  }
  .svommefaciliteter p {
    display: grid;
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .faciliteter_text {
    display: grid;
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .svommefaciliteter {
    background-color: white;
  }
  .svommefaciliteter {
    display: contents; /* gør at børn opfører sig som direkte børn af .svommefaciliteter_grid */
  }

  ul {
    padding-left: 0px;
  }

  /********* info **********/
  .svommehal_regler {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 80px;
    max-width: unset;
    margin-inline: 0;
    margin-top: 0;
    grid-column: 1 / -1;
  }
  .svommehal_regler p,
  li {
    width: 70%;
    margin: 0 auto;
  }

  .obs_text {
    padding-top: 0;
  }

  /******* lej svømmehal ********/
  .svommehal_grid_1_05_1 {
    display: grid;
    grid-template-columns: 1.5fr 0.2fr 1fr;
    grid-template-rows: 0.3fr 1fr 0.2fr;
    padding: 50px 0;
  }

  .lej_svommehal_img {
    display: grid;
    grid-column: 1/3;
    grid-row: 1/4;
  }

  .lej_svommehal {
    display: grid;
    grid-column: 2/4;
    grid-row: 2/3;
  }
}
